
.NavBar ul {
    display: flex;
    justify-content: center;
    gap: 100px;
  
    list-style: none;
  }
  .NavBar ul li {
    text-decoration: none;
    margin-top: 35px;
  }
  .NavBar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 12px;
  }
  .NavBar img {
    padding: 15px;
    width: 45px;
  }
  