@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
}
h1{
    font-size: 100px;
    font-weight: 800;
}
h2{
    font-size: 37px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
h4{
    font-weight: 400;
}


/*--------Header--------*/
.NavBar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    list-style: none;
  }
  .NavBar ul li {
    text-decoration: none;
  }
  .NavBar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 12px;
  }
  .NavBar button{
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .NavBar img {
    width: 45px;
    margin-top: 15px;
    margin-bottom: 8px;
  }
  /*--------Header-End--------*/

  /*--------Banner---------*/
 
.Banner-BG{
    /* background: linear-gradient(120deg, #cecece 52.5%, #edeae5 40%);
padding-bottom: 300px; */
background-image:  url('/img/Banner-BG-2.jpg');
  /* filter: blur(3 px);
  -webkit-filter: blur(3px); */
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Banner-Text{
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.Banner-Text h1{
    /* font-weight: 500; */
    padding-top: 100px;
    line-height: 1;

    color: #ffffff;
margin: 0;
}
.Banner-Text h2{
    font-weight: 500;
    line-height: 1.3;
    margin: 0;
    color: #ffffff;
}
.Banner-Text p{
    width: 490px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #ffffff;
}

.Banner-Text button{
    width: 160px;
    height: 45px;
    margin: auto;
    top:0;
    bottom: 0;
    border: 0.1px solid rgb(255, 255, 255);
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.05);
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.Banner-Text button:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%; 
     top: 0;
    left: 0; 
    background: linear-gradient(
        45deg,
        transparent 50%,
        rgba(255,255,255,0.03) 58%,
        rgba(255,255,255,0.16) 67%,
        transparent 68%
    );
    background-size: 200% 100%;
    background-position: 165% 0;
    transition: 0.7s;
}
.Banner-Text button:hover:after{
    background-position: -20% 0;
}
.Banner-Text button:hover{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    transform: translateY(-6px);
}
/*------Banner-End------*/

/*------Our-Services------*/

.Services-Top-Text{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 5px;
}
/* .Box-1{
    padding: 50px;
}
.Box-1:hover{
    box-shadow: 15px 30px 32px rgba(25,25,0,0.25);
    transform: translateY(-6px);
    border: 1px solid rgb(122, 122, 122);
    transition: 0.6s;
    padding: 50px;
} */
.Box-1::before{
	content: '';
	position: absolute;
	left:0;
	bottom:0;
	width:0;
	box-sizing: border-box;
	height: 0;
	border-bottom:3px solid transparent;
	border-left: 3px solid transparent;
	transition: all .8s ease;
}
.Box-1::after{
	content: '';
	position: absolute;
	right:0;
	top:0;
	width:0;
	box-sizing: border-box;
	height:0;
	border-top:3px solid transparent;
	border-right: 3px solid transparent;
	transition: all .8s ease;
}
 .Box-1:hover::after,
 .Box-1:hover::before{
   border-color: #000000;
   width: 100%;
   height: 100%;
}
.First-row{
	/* background-color: #eeeeee; */
	min-height: 100px;
	width: 100%;
	float: left;
	padding:100px 0;
}
 .First-row{
	float: left;
	width: 100%;
}


.First-row{
    display: flex;
    padding-top: 50px;
    /* background: #f5f5f5; */
    text-align: center;
    justify-content: space-evenly;
}
.First-row div{
cursor: pointer;
    width: 260px;
}
.First-row .Icons{
    color: black;
}
.First-row .Box-1 p{
    color: #000;
}
.First-row h3{
    font-weight: 400;
    color: #000;
    margin: 0;
}
.Services-Top-Text h2{
    font-weight: 600;
    border: 2px solid black;
    /* padding-top:20px ; */
    margin-left: 42%;
    margin-right: 42%;
}
.Services-Top-Text p{
    margin: 0;
}
/* .Second-row h3{
    font-weight: 400;
    margin: 0;
}
.Second-row{
    display: flex;
    padding-top: 100px;
    background: #f5f5f5;
    text-align: center;
    padding-bottom: 60px;
    justify-content: space-evenly;
}
.Second-row div{
    width: 300px;
    cursor: pointer;
} */

.Box-1::before{
	content: '';
	position: absolute;
	left:0;
	bottom:0;
	width:0;
	box-sizing: border-box;
	height: 0;
	border-bottom:3px solid transparent;
	border-left: 3px solid transparent;

	transition: all .8s ease;
}
.Box-1::after{
	content: '';
	position: absolute;
	right:0;
	top:0;
	width:0;
	box-sizing: border-box;
	height:0;
	border-top:3px solid transparent;
	border-right: 3px solid transparent;
	transition: all 1s ease;
}
 .Box-1:hover::after,
 .Box-1:hover::before{
   border-color: #000000;
   box-shadow: 15px 30px 32px rgba(0,0,0,0.10);
   width: 100%;
   height: 100%;
}
.Second-row{
	/* background-color: #eeeeee; */
	min-height: 100px;
	width: 100%;
	float: left;
	padding:100px 0;
} 
 .Second-row{
	float: left;
	width: 100%;
}
.Box-1{
	width: 33.33%;
	float: left;
	padding:15px;
}
.Box-1{
	padding:30px;
	text-align: center;
	position: relative;
}

.Second-row{
    display: flex;
    padding-top: 50px;
    /* background: #f5f5f5; */
    text-align: center;
    justify-content: space-evenly;
}
.Second-row div{
cursor: pointer;
    width: 290px;
}
.Second-row h3{
    font-weight: 400;
    margin: 0;
    color: #000;
}

.Services-Btn{
    text-align: center;
}
.Services-Btn button{
    width: 160px;
    height: 45px;
    margin: auto;
    top:0;
    bottom: 0;
    border: 0.1px solid rgb(107, 107, 107);
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.05);
    font-family: 'Poppins',sans-serif;
    color: #000;
    font-size: 18px;
    letter-spacing: 2px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.Services-Btn button:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%; 
     top: 0;
    left: 0; 
    background: linear-gradient(
        45deg,
        transparent 50%,
        rgba(255,255,255,0.03) 58%,
        rgba(255,255,255,0.16) 67%,
        transparent 68%
    );
    background-size: 200% 100%;
    background-position: 165% 0;
    transition: 1s;
}
.Services-Btn button:hover:after{
    background-position: -20% 0;
}
.Services-Btn button:hover{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    transform: translateY(-6px);
}
.Icons{
    font-size: 40px;
    color: #000;
}
.Box-1 p{
    color: #000;
}

/*---------Our-Services-End---------*/

/*---------ChooseUs-------*/

.BG-Choose-Us{
    background-image: url('/img/Choose-Us-BG.jpg');
    background-position: center;
 height: 400px;
    background-size: cover;
    background-repeat: no-repeat;    
}
.Choose-Us-Flex{
    display: flex;
padding-top: 100px;
padding-bottom: 100px;
    margin-top: 100px;
    justify-content: space-evenly;
    align-items: center;
}
.Choose-Us-Flex img{
    width: 600px;
}
.Choose-Us-Text{
    text-align: center;
}
.Choose-Us-Text h2{
    font-weight: 500;
    color: white;
    margin: 0;
}
.Choose-Us-Text p{
    width: 587px;
    color: white;
    padding-bottom: 20px;
    margin: 0;
}
.Choose-Us-Text button{
    width: 180px;
    height: 45px;
    margin: auto;
    top:0;
    bottom: 0;
    border: 0.1px solid rgb(255, 255, 255);
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.05);
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.Choose-Us-Text button:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%; 
     top: 0;
    left: 0; 
    background: linear-gradient(
        45deg,
        transparent 50%,
        rgba(255,255,255,0.03) 58%,
        rgba(255,255,255,0.16) 67%,
        transparent 68%
    );
    background-size: 200% 100%;
    background-position: 165% 0;
    transition: 0.7s;
}
.Choose-Us-Textt button:hover:after{
    background-position: -20% 0;
}
.Choose-Us-Text button:hover{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    transform: translateY(-6px);
}
/*--------ChooseUs-End------*/
/*-------Our-Team-------*/
.OurTeam-Top-Text{
    text-align: center;
    margin-top: 120px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.OurTeam-Top-Text h1{
    border: 2px solid black;
    margin-left: 43%;
    margin-right: 43%;
    font-size: 40px;
    font-weight: 600;

}
.OurTeam-Top-Text h2{
    font-weight: 500;
    margin: 0;
}
.OurTeam-Top-Text p{
    margin: 0;
}
.First-Section{
    display: flex;
    align-items: center;
}
.First-Section img{
    width: 900px;
    height: 600px;
    display: block;
}
.First-Section h2{
    margin: 0;
    font-size: 40px;
    font-weight: 400;
}
.First-Section h3{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}
.First-Section p{
padding-top: 10px;
    margin: 0;
}
.Text-Area{
padding-left: 170px;
    text-align: center;
}
.Text-Area p{
    width: 600px;
    margin: auto;
}
.Second-Section{
    display: flex;
}
.Second-Section-Member-1{
    display: flex;
    align-items: center;
    text-align: center;
}
.Second-Section-Member-1 h2{
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}
.Second-Section-Member-1 h3{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.Second-Section-Member-1 p{
    padding-top: 10px;
    width: 400px;
    margin: auto;
}
.Second-Section-Member-1 img{
    width: 460px;
    height: 450px;
    display: block;

}
.Text-Area-2{
    padding-left:20px;
    padding-right: 20px;
        text-align: center;
    }
    .Second-Section-Member-2{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .Second-Section-Member-2 h2{
        font-size: 40px;
        font-weight: 400;
        margin: 0;
    }
    .Second-Section-Member-2 h3{
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }
    .Second-Section-Member-2 p{
        padding-top: 10px;
        width: 400px;
        margin: auto;
    }
    .Second-Section-Member-2 img{
        width: 460px;
        display: block;
    }
    .Text-Area-3{
        padding-left:60px;
        padding-right: 20px;
            text-align: center;
        }
        .Third-Section{
            display: flex;
        }
        .Text-Area-4{
            padding-left:20px;
            padding-right: 40px;
                text-align: center;
            }
            .Third-Section-Member-1{
                display: flex;
                align-items: center;
                text-align: center;
            }
            .Third-Section-Member-1 h2{
                font-size: 40px;
                font-weight: 400;
                margin: 0;
            }
            .Third-Section-Member-1 h3{
                font-size: 20px;
                font-weight: 400;
                margin: 0;
            }
            .Third-Section-Member-1 p{
                padding-top: 10px;
                width: 400px;
                margin: auto;
            }
            .Third-Section-Member-1 img{
                width: 460px;
                display: block;   
            }
                    .Third-Section-Member-2{
                        display: flex;
                        align-items: center;
                        text-align: center;
                    }
                    .Third-Section-Member-2 h2{
                        font-size: 40px;
                        font-weight: 400;
                        margin: 0;
                    }
                    .Third-Section-Member-2 h3{
                        font-size: 20px;
                        font-weight: 400;
                        margin: 0;
                    }
                    .Third-Section-Member-2 p{
                        padding-top: 10px;
                        width: 400px;
                        margin: auto;
                    }
                    .Third-Section-Member-2 img{
                        width: 490px;
                        height: 470px;
                        display: block;
                    }
                    .Text-Area-5{
                        padding-left:30px;
                        padding-right: 10px;
                            text-align: center;
                        }
/* .Our-Team-Flex img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
.Our-Team-Flex{
    display: flex;
    padding-top: 150px;
padding-left: 200px;
align-items: center;
    gap: 30px;
    padding-bottom: 100px;
}
.Our-Team-Flex h3{
    line-height: 1;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.Our-Team-Flex h4{
    font-weight: 400;
    padding: 0;
    margin: 5px 0 0 0;
}
.Our-Team-Flex p{
    width: 437px;
    margin: 5px 0 0 0;
}
.Our-Team-Flex-2 img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
.Our-Team-Flex-2{
    display: flex;
    padding-top: 150px;
    padding-left: 900px;
align-items: center;
    gap: 30px;
}
.Our-Team-Flex-2 h3{
    line-height: 1;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.Our-Team-Flex-2 h4{
    font-weight: 400;
    margin: 5px 0 0 0;
}
.Our-Team-Flex-2 p{
    width: 437px;
    margin: 5px 0 0 0;
}
.Our-Team-Text{
    text-align:left;
}
.Our-Team-Text-2{
    text-align: right;
} */
.Our-Team-Btn{
    text-align: center;
    padding-top: 100px;
}
.Our-Team-Btn button{
    width: 160px;
    height: 45px;
    margin: auto;
    top:0;
    bottom: 0;
    border: 0.1px solid rgb(107, 107, 107);
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.05);
    font-family: 'Poppins',sans-serif;
    color: #000;
    font-size: 18px;
    margin-bottom: 100px;
    letter-spacing: 2px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.Our-Team-Btn button:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%; 
     top: 0;
    left: 0; 
    background: linear-gradient(
        45deg,
        transparent 50%,
        rgba(255,255,255,0.03) 58%,
        rgba(255,255,255,0.16) 67%,
        transparent 68%
    );
    background-size: 200% 100%;
    background-position: 165% 0;
    transition: 0.7s;
}
.Our-Team-Btn button:hover:after{
    background-position: -20% 0;
}
.Our-Team-Btn button:hover{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    transform: translateY(-6px);
}

/*------Our-Team-End----*/

/*-----Footer------*/
.Footer{
    text-align: center;
    padding-top: 20px;
    /* border: 1px solid rgb(206, 206, 206); */
    padding-bottom: 5px;
}
.Footer h4{
    font-weight: 300;
    margin: 0;
    padding-top: 10px;
}
.Footer img{
    width: 45px;
}
.Footer ul{
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0;
}
.Footer ul li{
    list-style: none;
    padding-top: 10px;
}
.Footer ul li a{
    text-decoration: none;
color: black;
font-weight: 400;
font-size: 12px;
}
.Logos{
    display: flex;
    padding-top: 20px;
gap: 40px;
    justify-content: center;
}
.Logo{
    font-size:25px;
    cursor: pointer;
    border-radius: 100px;
    color: #000;
}
.Logo:hover{
    color: grey;
}
.Footer-End{

    padding-top: 8px;
    margin-top: 20px;
}
.Footer-End h5{
    font-weight: 300;
    margin: 0;
}
/*-----Footer-End-----*/

/*-----About-Us-------*/

.About-Us-Top-Text{
    text-align: center;
 

    padding-top: 20px;
}
.About-Us-Top-Text h1{
    font-size: 50px;
    font-weight: 600;
    border: 2px solid black;
    margin-left: 42%;
    margin-right: 42%;
}
.About-Us-Things{
    text-align: center;

}
.About-Us-Things input{
    width: 600px;
    padding: 12px;
    height: 15px;
    outline: none;
    border-radius: 30px 0 0 30px; 
      border: 0.1px solid rgb(173, 173, 173);
}
.About-Us-Things button{
    height: 41px;
    border: 0.1px solid rgb(173, 173, 173);
    width: 80px;
    border-radius: 0 30px 30px 0; 
}
.About-Us-Things p{
    width: 623px;
    margin: auto;
    padding-top: 10px;
}
/*-----About-Us-End-----*/

/*-------Contact-Us-Page-----*/

.Contact-Top-Text{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
}
.Contact-Top-Text h1{
    border: 2px solid black;
    margin-left: 42%;
    font-weight: 600;
    font-size: 40px;
    margin-right: 42%;
}
.Contact-Text{
    text-align: center;
}
.Contact-Text h4{
    margin: 0;
    font-weight: 300px;
    font-size: 30px;
}
.Contact-Text p{
    margin: auto;
    width: 300px;
}
.Phone-Address-Mail{
	/* background-color: #eeeeee; */
	min-height: 100px;
	width: 100%;
	float: left;
	padding:100px 0;
}
 .Phone-Address-Mail{
	float: left;
	width: 100%;
}
/* .Box-1{
	width: 33.33%;
	float: left;
	padding:15px;
}
.Box-1{
	padding:30px;
	text-align: center;
	position: relative;
} */
.Phone-Address-Mail{
    display: flex;
    padding-top: 50px;
    /* background: #f5f5f5; */
    text-align: center;
    justify-content: space-evenly;
}
.Phone-Address-Mail div{
cursor: pointer;
    width: 300px;
}
.Phone-Address-Mail h3{
    font-weight: 400;
    margin: 0;
}
.Phone-Address-Mail h4{
font-size: 18px;
margin: 0;
font-weight: 400;

}
.Phone-Address-Mail .top-h4{
    padding-top: 20px;
}
.Things{
    margin-top: 100px;
	width: 33.33%;
	float: left;
	padding:15px;
    /* box-shadow: 5px 5px 32px rgba(0,0,0,0.25); */
}
.Things{
	padding:30px;
	text-align: center;
	position: relative;
}
.inputs{
    text-align: center;
    padding-top: 80px;
}
.input-1{
    padding:10px ;
    margin-top: 20px;
    width: 500px;
    outline: none;
    height: 18px;
}
.text-area{
    padding: 10px;
    outline: none;
    margin-top: 20px;
}
.contact-us-button{
    text-align: center;
    padding-top: 20px;
}
.contact-us-button button{
    width: 160px;
    height: 45px;
    margin: auto;
    top:0;
    bottom: 0;
    border: 0.1px solid rgb(107, 107, 107);
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.05);
    font-family: 'Poppins',sans-serif;
    color: #000;
    font-size: 18px;
    margin-bottom: 100px;
    letter-spacing: 2px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.contact-us-button button:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%; 
     top: 0;
    left: 0; 
    background: linear-gradient(
        45deg,
        transparent 50%,
        rgba(255,255,255,0.03) 58%,
        rgba(255,255,255,0.16) 67%,
        transparent 68%
    );
    background-size: 200% 100%;
    background-position: 165% 0;
    transition: 0.7s;
}
.contact-us-button button:hover:after{
    background-position: -20% 0;
}
.contact-us-button button:hover{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    transform: translateY(-6px);
}


/*-------Contact-US-Page-End-----*/

/*--------PORTFOLIO-------*/

.Portfolio-Top-Text{
    text-align: center;
}
.Portfolio-Top-Text h1{
    border: 2px solid black;
    margin-left: 42%;
    font-size: 40px;
    font-weight: 600;
    margin-right: 42%;
}
.Our-Client-First-Row{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap: 100px;
    align-items: center;
}
.Our-Client-Second-Row{
    display: flex;
    gap:100px;
    align-items: center;
    padding-top: 100px;
    justify-content: center;
}
.Our-Client-First-Row img{
width: 200px;
}
.Our-Client-Second-Row img{
    width: 200px;
}
.First-Row-Clients{
    box-shadow: 0px 0px 32px rgba(0,0,0,0.25);
    cursor: pointer;
padding: 40px;
}
.Second-Row-Clients{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    padding: 40px;
    cursor: pointer;
}
.Second-Row-Clients :hover{
    transform: translateY(-15px);
    transition: 0.7s;
}
.First-Row-Clients :hover{
    transform: translateY(-15px);
    transition: 0.7s;
}



/*--------PORTFOLIO-END--------*/


/*-------Brand-Strategy--------*/

.Brand-Strategy-Top-Text{
    text-align: center;
    padding-top: 100px;
}
.Brand-Strategy-Top-Text h2{
    border: 2px solid black;
    margin-left: 40%;
    font-weight: 500;
    margin-right: 40%;
}
.Brand-Strategy-Text {
 padding-top: 100px;
    text-align: left;
    padding-left: 200px;

}
.Brand-Strategy-Text h2{
    font-weight: 500;
}
.Brand-Strategy-Text h4{
    width: 790px;
}
.Brand-Strategy-Flex{
    display: flex;
    align-items: center;
}
.Brand-Strategy-Flex img{
    padding-left: 100px;
    padding-bottom: 190px;
}
/*-------Brand-Strategy-End-----*/

/*-------Development-------*/

.Development-Top-Text{
    text-align: center;
    padding-top: 100px;
}
.Development-Top-Text h2{
    border: 2px solid black;
    margin-left: 40%;
    font-weight: 500;
    margin-right: 40%;
}
.Development-Text {
 padding-top: 100px;
    text-align: left;
    padding-left: 200px;

}
.Development-Text h2{
    font-weight: 500;
}
.Development-Text h4{
    width: 790px;
}
.Development-Flex{
    display: flex;
}
.Development-img img{
    width: 600px;
    padding-left: 100px;
    padding-top: 220px;
    height: 440px;
}
.Development-Text h5{
    font-size: 18px;
    font-weight: 600;
}

/*-------Development-End----*/

/*-------Production-----*/

.Production-Top-Text{
    text-align: center;
    padding-top: 100px;
}
.Production-Top-Text h2{
    border: 2px solid black;
    margin-left: 40%;
    font-weight: 500;
    margin-right: 40%;
}
.Production-Text {
 padding-top: 100px;
    text-align: left;
    padding-left: 200px;

}
.Production-Text h2{
    font-weight: 500;
}
.Production-Text h4{
    width: 790px;
}
.Production-Flex{
    display: flex;
}
.Production-img img{
    width: 600px;
    padding-left: 120px;
    padding-top: 250px;
    height: 440px;
}
.Production-Text h5{
    font-size: 18px;
    font-weight: 600;
}

/*-------Production-End----*/

/*-----Outdoor-Marketing----*/

.OutdoorMarketing-Top-Text{
    text-align: center;
    padding-top: 100px;
}
.OutdoorMarketing-Top-Text h2{
    border: 2px solid black;
    margin-left: 39%;
    font-weight: 500;
    margin-right: 39%;
}
.OutdoorMarketing-Text {
 padding-top: 100px;
    text-align: left;
    padding-left: 200px;

}
.OutdoorMarketing-Text h2{
    font-weight: 500;
}
.OutdoorMarketing-Text h4{
    width: 790px;
}
.OutdoorMarketing-Flex{
    display: flex;
}
.OutdoorMarketing-img img{
    width: 600px;
    padding-left: 120px;
    padding-top: 250px;
    height: 440px;
}
.OutdoorMarketing-Text h5{
    font-size: 18px;
    font-weight: 600;
}

/*-----Outdoor-Marketing-End----*/

/*-----Social-Electronic-Media---*/

.Social-Electronic-Media-Top-Text{
    text-align: center;
    padding-top: 100px;
}
.Social-Electronic-Media-Top-Text h2{
    border: 2px solid black;
    margin-left: 36%;
    font-weight: 500;
    margin-right: 36%;
}
.Social-Electronic-Media-Text {
 padding-top: 100px;
    text-align: left;
    padding-left: 200px;

}
.Social-Electronic-Media-Text h2{
    font-weight: 500;
}
.Social-Electronic-Media-Text h4{
    width: 790px;
}
.Social-Electronic-Media-Flex{
    display: flex;
}
.Social-Electronic-Media-img img{
    width: 600px;
    padding-left: 120px;
    padding-top: 220px;
    height: 405px;
}
.Social-Electronic-Media-Text h5{
    font-size: 18px;
    font-weight: 600;
}

/*-----Social-Electronic-Media-End---*/

/*-----Event-Planning---*/

.Event-Planning-Top-Text{
    text-align: center;
    padding-top: 100px;
}
.Event-Planning-Top-Text h2{
    border: 2px solid black;
    margin-left: 28%;
    font-weight: 500;
    margin-right: 28%;
}
.Event-Planning-Text {
 padding-top: 100px;
    text-align: left;
    padding-left: 200px;

}
.Event-Planning-Text h2{
    font-weight: 500;
}
.Event-Planning-Text h4{
    width: 790px;
}
.Event-Planning-Flex{
    display: flex;
}
.Event-Planning-img img{
    width: 600px;
    padding-left: 120px;
    padding-top: 180px;
    height: 405px;
}
.Event-Planning-Text h5{
    font-size: 18px;
    font-weight: 600;
}

/*-----Event-Planning-End---*/

/*-----Print-Media------*/

.Print-Media-Top-Text{
    text-align: center;
    padding-top: 100px;
}
.Print-Media-Top-Text h2{
    border: 2px solid black;
    margin-left: 30%;
    font-weight: 500;
    margin-right: 30%;
}
.Print-Media-Text {
 padding-top: 100px;
    text-align: left;
    padding-left: 200px;

}
.Print-Media-Text h2{
    font-weight: 500;
}
.Print-Media-Text h4{
    width: 790px;
}
.Print-Media-Flex{
    display: flex;
}
.Print-Media-img img{
    width: 600px;
    padding-left: 120px;
    padding-top: 180px;
    height: 405px;
}
.Print-Media-Text h5{
    font-size: 18px;
    font-weight: 600;
}

/*-----Print-Media-End-----*/

/*----Creative-Content-----*/

.Creative-Content-Top-Text{
    text-align: center;
    padding-top: 100px;
}
.Creative-Content-Top-Text h2{
    border: 2px solid black;
    margin-left: 39%;
    font-weight: 500;
    margin-right: 39%;
}
.Creative-Content-Text {
 padding-top: 100px;
    text-align: left;
    padding-left: 200px;

}
.Creative-Content-Text h2{
    font-weight: 500;
}
.Creative-Content-Text h4{
    width: 790px;
}
.Creative-Content-Flex{
    display: flex;
}
.Creative-Content-img img{
    width: 600px;
    padding-left: 120px;
    padding-top: 180px;
    height: 405px;
}
.Creative-Content-Text h5{
    font-size: 18px;
    font-weight: 600;
}

/*----Creative-Content-End----*/

/*-----Thank-You-Page-----*/

.Thank-You-Flex{
    text-align: center;
    margin-top: 300px;
    margin-left: 37% ;
    margin-right: 37%;
    transition: 1s ease-in;
    box-shadow: 0px 0px 32px rgba(0,0,0,0.25);
padding-bottom: 70px;
padding-top: 70px;
    border: 0.1px solid rgb(150, 150, 150);
}
.Thank-You-Icons{
    font-size: 150px;
    color: rgb(26, 26, 26);
    margin-bottom: -50px;
}
.Thank-You-Text h2{
    font-weight: 400;
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
}
.Thank-You-Text p{
    width: 400px;
    margin: auto;
}
.Thank-You-Text button{
    width: 220px;
    height: 45px;
    margin-top: 20px;
    top:0;
    bottom: 0;
    border: 0.1px solid rgb(107, 107, 107);
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.05);
    font-family: 'Poppins',sans-serif;
    color: #000;
    font-size: 18px;
    letter-spacing: 2px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.Thank-You-Text button:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%; 
     top: 0;
    left: 0; 
    background: linear-gradient(
        45deg,
        transparent 50%,
        rgba(255,255,255,0.03) 58%,
        rgba(255,255,255,0.16) 67%,
        transparent 68%
    );
    background-size: 200% 100%;
    background-position: 165% 0;
    transition: 0.7s;
}
.Thank-You-Text button:hover:after{
    background-position: -20% 0;
}
.Thank-You-Text button:hover{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    transform: translateY(-6px);
}
/*-----Thank-You-Page-End-----*/

